{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block body %}
	<main>
		<div class="card-deck top">
			<a href="#">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&auto=format&fit=crop&w=2053&q=80" class="card-img-top" width="full" height="300" style="object-fit: cover" alt="..."/>
					<div class="card-body">
						<h5 class="card-title">{{ posts[0].title }}</h5>
						<p class="card-text">
							<small class="text-muted">{{ posts[0].date|date("d/m/y") }}</small>
						</p>
					</div>
				</div>
			</a>
		</div>
		<!--card-top-->
		<div class="card-columns bottom">
			{% for post in posts %}
				<a href="{{ path('article', {id: post.id}) }}">
					<div class="card">
						<img src="/uploads/{{ post.image }}" class="card-img-top" alt="..."/>
						<div class="card-body">
							<h5 class="card-title">{{ post.title }}</h5>
						</p>
						<p class="card-text">
							<small class="text-muted">{{ post.date|date("d/m/y") }}</small>
						</p>
					</div>
				</div>
			</a>
		{% endfor %}


	</div>
	<!--card-bottom-->
</main>{% endblock %}
