{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="text-background" style="background-image: url('/uploads/{{ post.image }}'); ">
		<div class="blog-info">
			<h1 style="color: #fff">{{ post.title }}</h1>
			<h5 style="color: #fff">by
				{{ user.name}}
				{{ user.surname }}
			</h5>
		</div>
	</div>
	<main class="text-content">
		<div class="text-section">
			<p>
				{{ post.blog }}
			</p>
		</div>
		<!--article-section-->
		<hr/>
		<div class="comment-section">
			<h3>Any comments?</h3>
			<form class="comment-input">
				<div class="form-group">

					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<label for="comment">Comment</label>
						<textarea class="form-control" id="comment" rows="3"></textarea>
						<button type="button" class="btn btn-dark">Post comment</button>
					{% else %}

						<a href="/signup" class="btn btn-info">Sign up</a>

						<a href="/login" class="btn btn-outline-dark">Login</a>

					{% endif %}

				</div>
			</form>
		</div>
		<!--comment-section-->
	</main>
{% endblock %}
